<div>
  <h1>All Cards</h1>
  <div>
    <% @cards.each do |card| %>
      <%= link_to card_path(card) do %>
        <h2><%= card.name %>(<%= card.id %>)</h2>
      <% end %>
    <% end %>
  </div>
</div>
