<div>
  <h1><%= @card.name %></h1>
  <%= link_to "Edit Card", edit_card_path(@card) %>
  <%= link_to "Delete Card", card_path(@card), method: :delete %>
  <h2>Deadline</h2>
  <p><%= @card.deadline %></p>
</div>